@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap');

* {
    padding:0; 
    border:none; 
    margin:0;
  }

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color:#3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color:#2e2c2c;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size:280%;
    margin-left: 30px;
    
 }

 #menu, #logo {
    line-height: 75px;
 }


#menu {
    
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;    
    list-style-type:none;
    margin-right: 30px
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    color:rgb(238, 142, 26);
}

.active {
    color:rgb(238, 142, 26);
}

/* "hero image and cover text" */

#cover-text, #cover-text h2 {
    color:white

}
#hero-image {
    height:600px;
    width:100%;
    background: url('../images/hero-image.webp') no-repeat center center;
    /*animation zoom effect on loading page  */
    animation-name:hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards

}

#hero-outer {
    height:600px;
    width:100%;
    overflow:hidden;
    position: relative

}

/* cerat the level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }

}

#cover-text {
    font-size: 130%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left:10px;

    background-color:rgba(241,109,107, .7);

    bottom: 30px;
    right:150px;

    position: absolute

}

/* club ethos */
#club-ethos {
    height:600px;
}

#left-about {
    padding-top: 30px;
    width:33%;
    float:left;
   
}
#right-about {
    padding-top: 30px;
    width:33%;
    float:right;
    
}
#center-about {
    width: 33%;
    margin: 0 auto;
    
}

hr {
    border-top:1px solid #3a3a3a;
    width:100%;
    margin: 5px 0;
}
.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;

}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;

}

.right-about-heading h2 {
    text-align: right;
}
 .right-about-heading p {
    text-align: right
 }

 #welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;

 }

 #circle-container{
    width: 300px;
    height: 300px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius:50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;

}
/* event times */

#times h2 {
    color:#fafafa;
}



#times {
    background-image: url('../images/dublin-city.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow:hidden;
}

#times div{
    color:#fafafa;
    background-color:rgba(0,0,0,0.6);
    width:20%;
    height:300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing:border-box;

}

footer {
    height:150px;
}

footer ul {
    text-align:center;
}

footer ul li{
    display:inline;

}

footer ul li i {
    font-size:160%;
    margin:1%;
    padding:5%;
    color:#3a3a3a;
}

